th {
  color: green;
}
label {
  color: black;
}
tr {
  cursor: pointer;
  color: black;
}
#customerTable tbody {
  cursor: pointer;
}

#SOTable tbody {
  cursor: pointer;
}

#orderTable tbody tr:hover {
  background-color: rgb(76,175,79);
  color: white;
}

#productsTable tbody tr:hover {
  background-color: rgb(76,175,79);
  color: white;
}

.form-check .form-check-input:checked+.form-check-sign .check {
  background: green;
}
.pagination>.page-item.active>a, .pagination>.page-item.active>a:focus, .pagination>.page-item.active>a:hover, .pagination>.page-item.active>span, .pagination>.page-item.active>span:focus, .pagination>.page-item.active>span:hover{
  background-color: green;
}

.form-control, .is-focused .form-control {
  background-image: linear-gradient(to top, green 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.btn-success-bordered {
  color: black;
  background-color: white;
  border: 2px solid green;
}

 btn-success-bordered:hover {
   opacity: 0.5;
 }

 .loading {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(51,51,51);
   display: none;
   z-index: 5;
 }

 .loadingImg {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .loading2 {
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgb(51,51,51);
   display: none;
   opacity: 0.5;
   z-index: 5;
 }

.alert {
  display: none;
}

#SalesOrderModal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-11%);
}

.values {
  padding: 12px 30px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.tab-pane, .modal-body, .modal-footer {
  background-color: #eaeaea;
}

#DRTable .selected {
  background-color: #D3D3D3;
}

#DispatchTable .selected {
  background-color: #D3D3D3;
}

#ledgerItemsTable .selected {
  background-color: #D3D3D3;
}

#defectiveItemList .selected {
  background-color: #D3D3D3;
}

#emptyItemList .selected {
  background-color: #D3D3D3;
}

.smallLedger-dropdown:hover {
  background-color: #D3D3D3 !important;
}
